html {
    background: linear-gradient(200deg);
    background-size: 600% 600%;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    animation: TackyGradient 12s ease infinite;
  }
  html * {
     font-family: sans-serif !important;
  }
  #comments {
    margin: 25px auto;
    padding: 20px;
    width: 500px;
    height: auto;
    background-color: rgb(245, 245, 250);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .comment {
    width: 100%;
    display: grid;
  }
  .field {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
  }
  button {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgb(155, 89, 182);
    color: rgb(155, 89, 182);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

  .activated {
    background-color:rgb(155, 89, 182);
    border-radius: 0px 5px 5px 0px;
    border: 1px solid;
    color: white;
  }

  .btn:hover {
    background-color: rgb(230, 240, 250);
  }
  input[type="text"] {
    padding: 10px 20px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid rgb(220, 225, 230);
    font-size: 16px;
  }
  input:focus {
    outline: none;
  }
  @keyframes TackyGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  select {
    padding: 10px 20px;
    border-radius: 5px 0px 0px 5px;
    border: 3px solid rgb(220, 225, 230);
    font-size: 16px;
  }
  input[id="search"] {
    padding: 10px 20px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid rgb(155, 89, 182);
    font-size: 15px;
  }
  select[id="sort"] {
    padding: 10px 20px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid rgb(155, 89, 182);
    font-size: 16px;
  }
  .body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}
 .dark-mode {
  background-color: black;
  color: rgb(255, 255, 255);
}